# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Dependency directories
**/node_modules/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# Output of 'npm pack'
*.tgz

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

out/

**/deploy.*.sh
!**/deploy.template.sh

# Transpilated SRC packages
commons/dist
commons/layer
senado.cl/global/dist
senado.cl/global/layer
senado.cl/scraper/**/dist
senado.cl/scraper/**/layer

.turbo

**/cdk.out

.idea

**/**.d.ts
!**/vite-env.d.ts
**/packages/**/*.js
!**/packages/**/jest.config.js
**/iac/**/*.js
